/* src/components/Projects.css */
.projects {
    padding: 60px 20px;
    background-color: #f4f4f4;
    margin-right: 10px;

  }
  
  .projects h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .category-buttons {
    margin-bottom: 20px;
  }
  
  .category-buttons button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-weight: bold;
  }
  
  .category-buttons button.active {
    background-color: #333;
    color: white;
  }
  
  .project-list {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  /* .project-item {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  } */
/* src/components/Project.css */

.project-item {
  margin-bottom: 20px;
  max-width: 600px; /* Adjust the width of the container as needed */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.project-media {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Ensures it doesn't exceed the container's width */
  max-height: 100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 58%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  /* background: black; */
}

.video-wrapper > iframe, .video-wrapper > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
