/* src/components/About.css */
.about {
    padding: 60px 20px;
  }
  .about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .about p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  

  .skills {/*  make span screen */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 200px;
    
   }